.BookingList_Page {
  width: auto;
  height: auto;
  padding: 10px;
  text-align: left;
}
.BookingList_Page > h2 {
  margin: 0;
  font-size: xx-large;
  width: 900px;
}
#booking_list > h2 {
  text-align: left;
  margin-left: 20px;
}
.booking_list_bg {
  /* background-color: red; */
  width: 1560px;
  height: 650px;
  overflow-x: hidden;
}
.header_names > div {
  background-color: yellow;
  width: 176px;
  text-align: center;
  border-left: solid 1px black;
  font-weight: 700;
}
.flex-row > select {
  max-width: 300px;
  margin-top: 20px;
  align-self: center;
}
.flex-row > p {
  text-align: center;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
#position_index_9 {
  z-index: 999;
  position: absolute;
  background-color: black;
  width: 200px;
  height: 200px;
  margin-left: 200px;
}
