.eventcardbox {
  background-color: white;
  min-height: 35px;
  border: solid 1px #00000050;
  border-radius: 4px;
  margin: 10px 10px;
  height: auto;
  padding-top: 10px;
  font-family: Roboto;
}
#facility {
  right: 20px;
}
#eventName {
  font-weight: 600;
}
.display-even {
  justify-content: space-between;
  width: 1000px;
}
.header_names {
  background-color: red;
  min-height: 40px;
}
#booking-column {
  margin: 0;
}
#circle_status {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 20px;
}
.overflow_y {
  overflow-y: scroll;
}
