.eventcardbox {
  /* background-color: red; */
  min-height: 35px;
  border-radius: 4px;
  margin: 10px 0;
  height: auto;
  padding-top: 10px;
  font-weight: 400;
}
#facility {
  right: 20px;
}
#eventName {
  font-weight: 600;
}
.display-even {
  justify-content: space-between;
  width: 100%;
}
.header_names {
  min-height: 40px;
}
#booking-column {
  margin: 0;
}
#circle_status {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 20px;
}
.overflow_y {
  overflow-y: scroll;
}
.event_card_components > div {
  width: 176px;
  /* width: 191px; */
  text-align: center;
  overflow-y: hidden;
  max-height: 40px;

  border-left: solid 1px black;
  font-size: small;
}
.eventstatus {
  text-align: center;
  justify-content: center;
}
#cirlce_margin {
  margin-left: 10px;
}
.event_card_components > div > button {
  max-height: 40px;
  align-self: center;
  text-align: left;
}
.event_card_components > div > button:hover {
  background-color: red;
}
.deleted_row {
  color: white;
  display: none;
  height: -100px;
}
